{% extends "base.html" %}
{% load static %}

<body>
    {% block content %}
        <form method="get" action="registrarevento">
        <a class="btn btn-primary" href="{% url 'registrarevento' %}">Crear Evento</a>    
        </form>
        <a> </a>
        <a> </a>
        <form method="get" action="logout">
        <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesión</a> 
        </form>
        <h2>
        <p style="text-align:center;"> Bienvenido {{ username }}!!
        </p>
        </h2> 
        {% endblock %}
</body>