{% extends "base.html" %}

<body>
    {% block content %}
    <h2>Swapper Registrados</h2>
    
    <table border="4">
        <thead>
            <th>Cliente</th>
            <th>País</th>
            
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.lastname }}, {{ cliente.name }}</td>
                    <td>{{ cliente.pais_origen_id }}</td>
                    <td> 
                        <a href="{% url 'detalleUsuarios' cliente.id %}" class="btn btn-primary me-2">Ver</a>
                    </td>
                    {% if request.user.is_superuser or request.user.is_staff  %}
                    <td>
                        <a href="{% url 'updateUsuarios' cliente.id %}" class="btn btn-warning me-2">Editar</a>
                        <a href="{% url 'deleteUsuarios' cliente.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a></a>
    <a></a>
    <a></a>
    <a></a>
    <a></a>

    <a class="btn btn-primary" href="{% url 'app_homepage' %}">Atrás</a>
    <a class="btn btn-primary" href="{% url 'registercliente' %}">Crear Perfil</a>
    {% endblock %}
</body>