{% extends "base.html" %}

<body>
    {% block content %}
    <h2> REGISTRA TU TIENDA </h2>
    
    <form action="" method="post">
        <!-- Para proteger la página de falsificaciones de solicitudes entre sitios -->
        {% csrf_token %}
        {{form.as_p}}
    <input type='submit' value='Submit'>
    </form>
    <form method='get' action='tiendas_registradas'>
        <h3> Chequea las tiendas registradas</h3>
        <a class="btn btn-primary" href="{% url 'tiendasregistradas' %}">Tiendas Registradas</a>
    </form>
    {% endblock %}
</body>