{% extends "base.html" %}

<body>
    {% block content %}
    <form action="" method="post">
        <!-- Para proteger la página de falsificaciones de solicitudes entre sitios -->
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Registrar Evento</button>
    </form>
    <form method='get' action='eventosagendados'>
        <h3> Chequea los Eventos registrados</h3>
        <a class="btn btn-primary" href="{% url 'eventosagendados' %}">Eventos Agendados</a>    
    </form>
    {% endblock %}
</body>