{% extends 'base.html' %}
{% load static %}

{% block title  %}
    Servicios
{% endblock title %}


{% block content %}
    <br> </br>
    <p> Somos una app especializada en crear una comunidad integrada por tiendas y Swappers interesados en la organización de eventos para 
    intercambios de ropa de segunda mano en toda Latinoamérica. </p>
    <p> Nuestros eventos son organizados bajo la consigna de la compra de la diversión y la sostenibilidad para cada Swapper. </p>

    <h2> Regístrate y Comienza a Disfrutar </h2>
{% endblock %}
