{% extends 'base.html' %}

<body>
    {% block content %}
        <h2>Detalles de usuario</h2>
        <table border="2">
            <tr>
                <td>Id:</td> <td>{{ object.id }}</td>
            </tr>
            <tr>
                <td>Usuario:</td> <td>{{ object.lastname}} , {{ object.name }}</td>
            </tr>
            <tr>
                <td>Email:</td> <td>{{ object.emailid }}</td>
            </tr>
            <tr>
                <td>País:</td> <td>{{ object.pais_origen_id }}</td>
            </tr>
            <tr>
                <td>Teléfono:</td> <td>{{ object.telefono }}</td>
            </tr>
            <tr>
                <td>Fecha de Nacimiento:</td> 
                {% if object.nacimiento %}
                        <td>{{ object.nacimiento }}</td>
                    {% else %}
                        <td>Sin registro</td>
                    {% endif %}
            </tr>   
            <tr>
                <td>Tienda:</td> 
                {% if object.tienda_id %} 
                        <td>{{ object.tienda_id }}</td>
                {% else %}
                        <td>Sin Registro</td>
                {% endif %}
            </tr>
            <tr>
                <td>Dueño Tienda:</td>
                {% if object.dueño_tienda %} 
                        <td>Si</td>
                {% else %}
                        <td>No</td>
                {% endif %}
            </tr>
        </table>

        {% if request.user.is_superuser or request.user.is_staff %}
            <a class="btn btn-primary" href="{% url 'updateUsuarios' object.id %}">Editar</a>
            <a class="btn btn-primary" href="{% url 'deleteUsuarios' object.id %}">Eliminar</a>
        {% else %}
            <p> Ingresa con un usuario administrador para editar un usuario</p>
        {% endif %}

    <a class="btn btn-primary" href="{% url 'registrados' %}">Atrás</a>    
    {% endblock %}
</body>