{% extends 'base.html' %}

<body>
    {% block content %}
        <form method="POST">
            {% csrf_token %}
            {% if request.user.is_superuser %}
                ¿Estás seguro que quieres borrar al contacto {{ object.lastname }}, {{ object.name }}?
                <br><br>
                <button type="submit" class="btn btn-primary">Borrar Contacto</button>
                <a role="button" href="{% url 'detalleUsuarios' object.id %}"> Cancelar </a>
            {% else %}
                El usuario activo no es un superusuario y no puede borrar contactos. <br>
                Por favor accede como un superusuario para borrar contactos.
            {% endif %}
        </form>
     {% endblock %}
</body>